<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Book review app</h1>
  </div>

  <div class="nav">
  <nav>
    <ul>
      <li><a href="/">Etusivu</a></li>
      <li><a href="/books">Kirjat</a></li>
      <li><a href="/users">Käyttäjät</a></li>

      {% if session.user_id %}
        <li><a href="/create_book">Lisää kirja</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
      {% else %}
        <li><a href="/register">Luo tunnus</a></li>
        <li><a href="/login">Kirjaudu sisään</a></li>
      {% endif %}
    </ul>
  </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>